.App {
  text-align: center;
  background-color: rgb(81, 104, 168);
  min-height: 100em;
}

.App-header {
  text-align: left;
  background-color: darkgrey;
  min-height: 4vh;
  max-height: 4vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
  color: navajowhite;
  padding: 1em;
}

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div header {
  background-color: white;
  box-shadow: 3px 3px 7px lightgray;
  border-style: none;
  padding: 1rem;
  text-decoration: none;

}

.border-box {
  background-color:white;
  margin:2rem;
  box-shadow: 4px 4px 8px grey;
  border-radius: 25px;
  padding: 20px;
  text-decoration: none;

}
ul {
  list-style-type: none;
}

.create-button {
  margin-top: 1rem;
  border-radius: 25px;
  border-style: none;
  color: white;
  background-color:#1867AB;
  width: 7rem;
}

.page {
  background-color:#E2F2EE;
  text-decoration: none;
}

.likeButton{
  color: green;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  margin-right: 170px;
} 

.dislikeButton{
  color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
}

.active{
  background-color:green;
  fill:white;
  border-color:green;
  border-radius:25px;
}

.inactive{
  color: black;
  border-radius: 25px;
  border-color:white;
}
